.section_partner
  background: rgba($color_primary , .07)
  .partner_block
    margin-top: 48px
    h3
      margin-bottom: 20px
    h5
      margin-bottom: 20px
  .partner_story
    text-align: center
    p
      margin-top: 10px
  .swiper
    padding: 0 20px 40px 40px