$color_primary: #e97d12
$color_secondary: #0B43AF
$color_grey_33: #333
$color_grey_66: #666
$color_grey_cc: #ccc
$color_grey_fa: #fafafa
$color_func: #723510
$color_white: #fff
$color_black: #000


//共用設定
body 
  font-family: 'Rubik','Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial, sans-serif
  letter-spacing: 0.25px
  overflow-x: hidden
  font-size: 16px


.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 20px
  @include b1200
    padding: 0

ul 
  padding: 0
  margin: 0
  li
    list-style: none

a
  text-decoration: none
  transition: all 0.3s ease-in-out

img
  width: 100%

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link
  color: $color_primary

.nav-contact
  color: $color_primary !important
  font-weight: 500
  letter-spacing: 2px
  border: 1px solid $color_primary
  &:hover
    color: $color_white !important
    background: $color_primary !important

main 
  @include b992 
    position: relative
    margin-top: 60px
  h2
    font-size: 36px
    display: flex
    justify-content: center
    align-content: center
    position: relative
    &::after, &::before
      content: ''
      position: absolute
      top: 50%
      left: 0%
      width: 80px
      height: 3px
      background: $color_primary
      z-index: -1
      @include b576
        left: 18%
      @include b768
        width: 100px
        left: 25%
      @include b992
        width: 130px
        left: 27%
      @include b1200
        left: 30%
    &::before
      left: auto
      right: 0%
      @include b576
        right: 18%
      @include b768
        right: 25%
      @include b992
        right: 27%
      @include b1200
        right: 30%
  h3, h4, h5
    text-align: center
  h3
    font-size: 24px
  h4
    color: $color_primary
    font-size: 20px
    font-weight: 400
  h5
    font-size: 20px
    color: $color_func
  section
    padding: 80px 0
    @include b992
      padding: 60px 0