$color_primary: #e97d12
$color_secondary: #0B43AF
$color_grey_33: #333
$color_grey_66: #666
$color_grey_cc: #ccc
$color_grey_fa: #fafafa
$color_func: #723510
$color_white: #fff
$color_black: #000


//共用設定
body 
  font-family: 'Rubik','Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial, sans-serif
  letter-spacing: 0.25px
  overflow-x: hidden
  font-size: 16px


.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 20px
  @include b1200
    padding: 0

ul 
  padding: 0
  margin: 0
  li
    list-style: none

a
  text-decoration: none
  transition: all 0.3s ease-in-out

main 
  @include b992 
    position: relative
    margin-top: 60px
  h2
    font-size: 36px
    display: flex
    justify-content: center
    align-content: center
    position: relative
    &::after, &::before
      content: ''
      position: absolute
      top: 50%
      left: 30%
      width: 150px
      height: 3px
      background: $color_primary
    &::before
      left: auto
      right: 30%
  h3, h4, h5
    text-align: center
  h3
    font-size: 24px
  h4
    color: $color_primary
    font-size: 20px
    font-weight: 400
  h5
    font-size: 20px
    color: $color_func
  section
    padding: 60px 0